* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    width: fit;

}


:root {
    --bardhe: white;
    --zi: black;
    --primare: #0d343b;
    --sekondare: rgb(85, 85, 84);
    --gri: #ddd;
    --grierret: #545454;

}

nav {
    background: var(--primare);
    height: 80px;
    width: 100%;
    color: var(--zi);
    position: sticky;
    top: 0;
    z-index: 1;

}

label.logo {
    color: var(--bardhe);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;


}

nav ul {
    color: var(--bardhe);
    float: right;
    margin-right: 20px;
    padding: 0 200px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a {
    color: var(--bardhe);
    font-size: 17 px;
    padding: 7px 10px;
    text-decoration: none;

}


a.active,
a:hover {
    background: var(--grierret);
    transition: 0.5s;
}

.container {
    padding: 0;

}

.hero {
    background: url(IMG2/della.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    font-size: 80px;
    color: white;
    font-weight: 100;
    margin-bottom: 35px;
    padding: 0px 90px 8px 90px;
    text-align: center;
    background-color: #8d8d8d27;
    border-radius: 20px;
}



.category {
    height: 100vh;
    margin-top: 40px;
    margin-left: 250px;
}

.category h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-right: 200px;
}

.category .filter {
    padding-right: 180px;
    font-size: 20px;
}


.category-images {
    display: flex;
    margin-top: 30px;
}

.category-images img {
    max-width: 400px;
    margin: 0px 80px;
    aspect-ratio: 3/2;


}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-size: cover;
}

#images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 50px));
    column-gap: 197px;
    grid-row-gap: 7px;
    margin: 18px 100px;
    margin-bottom: 50px;
}

.filter {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 50px;
    background-color: var(--primare);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 10px 5px;
}

.projects {
    background-color: var(--primare);
    height: 180px;
    width: 100%;
    margin: 350px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-details {
    display: flex;
    align-items: center;

}

.projects-details h1 {
    margin: 40px;

}

.button-project {
    padding: 20px 60px;
    background-color: var(--grierret);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-project:hover {
    background-color: var(--zi);
    transition: 0.5s;
}

.dimensions-calculation {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
}

.dimensions-calculation h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 40px;
}

.calculator {
    display: inline-grid;
}

.calculator input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid var(--primare);
    border-radius: 2px;
    width: 100%;
}

.calculator label {
    font-size: 23px;
    padding: 10px 0px;

}

.calculator img {
    max-width: 650px;
    margin: 40px auto;

}

.calculator span {
    font-size: 20px;

}

#ora {
    color: white;
    font-weight: 700;

}


.button-hero {
    display: flex;
    margin: auto;
    padding: 13px 50px;
    background-color: var(--primare);
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.button-hero:hover {
    background-color: var(--gri);
    color: black;
    transition: 0.5s;

}

.services {

    display: flex;
    justify-content: center;
    margin-right: 50px 0;

}

.services h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;

}

.cards {
    display: flex;
    width: 100%;
}

.card {
    padding: 50px 100px;
    border: none;
    margin: 0 20px;
    text-align: center;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.7), 0 5px 20px 0 rgba(0, 0, 0, 0.7);
    width: 70%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;


}

.front {
    backface-visibility: hidden;
}


.back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    top: 140px;
    left: 10px;
    right: 10px;
}

.back p {
    font-size: 18px;
    color: var(--primare);
}

.card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card h2 {
    font-size: 28px;
    font-weight: 500;
    color: var(--primare);
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.295);
    padding: 40px 0;


}

.contact h1 {
    font-size: 40px;
    padding: 40px 0;
}

.contact-form {

    display: grid;
}

.contact-form input {

    width: 600px;
    height: 50px;
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px;
    border: none;



}

.contact text area {
    border: none;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 10px;
}

#send-button {

    background-color: var(--primare);
    cursor: pointer;
    font-size: 19px;
    padding: 10px 0;
    width: 30%;

}

.contact-form label {

    font-size: 19px;
    display: flex;
    padding: 10px 15px;

}

.submit-button:hover {
    background-color: var(--grierret);
    color: var(--primare);
    transition: 0.5s;

}

.footer {
    background-color: var(--primare);
    padding: 60px;
    text-align: center;

}

.footer h4 {
    font-size: 17px;
    color: white;
}

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primare);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;

}


#btnScrollToTop:active {
    background: var(--primare);
}